.unit {
  background-color: white;
  height: 20px;
  width: 20px;
  display:inline-block;
  margin:1px;
}
#container {
  background-color :#2ce4ea ;
  height : 600px;
  width: 90%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.row {
  clear:both;
  display:block;
  margin:auto;
  width:94%;
  text-align:center;
}

#second{
  margin-top: 30px;
  margin-left: auto;
  background-color :#2ce4ea;
  display: block;
  height: 100px;
}

.color{
  background-color : gray;
}
#buttons{
  width:100%
  color: #0097A7;
  display:block;
  height: 70px;
  text-align:center;
}

button{
  margin-left: 40px;
  background-color: none;
  display: inline-block;
  text-align:center;
  height: 50px;
  width : 160px;
  font-size: 15px;
  border:none;
  color: white;
}
h1 {
  text-align: center;
  font-family:Arial black ;
}
body {
  background-color: #00BCD4;
}
